#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
}

.logo {
  height: 2.5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

li {
  text-align: left;
}

.app-ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: space-between;
}

.app-li {
  margin-bottom: 10px; /* Add some space between list items */
}

.heading {
  font-size: 1.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.song-box {
  background: pink;
  width: 180px;
  min-height: 80px;
  color: #fff;
}

.songs-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.song-card {
  padding: 2rem;
  border: #fff 2px solid;
  border-radious: 5px;
  margin: 0 auto;
}
